# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
.*sw[op]
*~

# SQLite3 database files:
*.db

# Redis database files:
*.rdb

# Log & PID files:
*.log
*.pid

# Celery schedule file:
celerybeat-schedule

# Migration files:
migrations/

# Sensitive data:
sensitive/
